*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

  .page {
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

.content {
  inline-size: 1140px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/* СЕКЦИЯ С ВИДЕО И ФОРМОЙ */

/* ВИДЕО */

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-inline-size: 711px;
  padding-top: 78px;
}

.result__video-container {
  block-size: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ФОРМА */

.search-form {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: fit-content;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: inline-block;
  width: fit-content;
}


.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__textfield {
  position: relative;
  appearance: none;
  inline-size: 225px;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #ffffff;
  background-color: rgba(0,0,0,0);
  border: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  caret-color: #ffffff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  position: relative;
}

.search-form__checkbox:hover + .search-form__pseudo-checkbox {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: none;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 1px solid #000;
  
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}


.search-form__pseudo-checkbox:hover + .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.button {
  cursor: pointer;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  height: 34px;
  color: #ffffff;
  border: 1px solid #ffff;
  background-color: rgba(0,0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

.search-form__submit-button:focus-visible {
  outline-offset: 2px;
}

/* СЕКЦИЯ С КАРТОЧКАМИ */

.content__list {
  position: relative;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  inline-size: 399px;
  gap: 26px;
}

/* ЗАГОЛОВОК */

.title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 94%;
  display: block;
}

.content__accent {
 color: #545050;
 display: inline-block;
}

/* КАРТОЧКИ */

.content__list {
  block-size: 298px;
  overflow: hidden scroll;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item {
  padding-right: 2.5px;
  padding-left: 2.5px;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none; 
  color: #ffffff;
}

.content__video-card {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 6px;
}

.content__video-card-description {
  padding-top: 6px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  padding: 1.5px 0;
}

.more-button {
  width: 399px;
}

.more-button:focus-visible {
  width: calc(100% - 6px);
  margin-left: 3px;
}
